body {
  padding: 20px;
}

.nameAndDate {
  display: flex;
  justify-content: space-between;

  font-style: italic;
}

.date {
  margin-left: 10px;
}

.published {
  font-style: italic;
}

.likes {
  text-align: end;
}
