body {
  padding: 20px;
}

.articleInfo {
  display: flex;
  justify-content: space-between;
}

.likeBox {
  display: flex;
  align-items: center;
}

.likeSymbol {
  height: 15px;
  width: 15px;

  margin-bottom: 2px;
  margin-left: 2px;

}

.nameAndDate {
  display: flex;
  justify-content: space-between;

  font-style: italic;
}

.date {
  margin-left: 10px;
}

.published {
  font-style: italic;
}

img {
  width: calc(100vw - 40px);
}
