nav {
  margin: 0;
  padding: 10px;
  background-color: #7a9792;

  display:flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 50px;
  color: #820000;
  font-family: 'Righteous', cursive;
}


article h1 {
  margin-bottom: 0;
}

.articleBox {
  position: relative;
  padding: 20px;
  margin: 0 10px;
  background-color: #f8f8f8;

}

.articleInfoBox {
  display: flex;
  justify-content: space-between;
}

.published {
  font-style: italic;
}

.likeBox {
  display: flex;
  align-items: center;
}

.likeBox p {
  color: mediumblue;
}

.likeSymbol {
  height: 15px;
  width: 15px;

  margin-bottom: 2px;
  margin-left: 2px;

}

.articleImage {
  width: 100%;
  padding-top: 60%;

  background-size: cover;
  background-position: center;
}

.imageText {
  margin: 0;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.nameAndDateBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  font-style: italic;
}

.nameAndDateBox p {
  margin: 0;
}

.authorBox {
  display: flex;
  align-items: flex-end;
}

.authorBox p {
  margin: 0 0 0 5px;
}

.profilePicture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.date {
  margin-left: 10px;
}

@media only screen and (min-width: 700px) {
  .contentBox {
    width: 640px;
  }

  .articleImage {
    height: 384px;
    width: 640px;
    padding-top: 0;
  }
}

@media only screen and (min-width: 800px) {
  .articleBox {
    width: 800px;
    margin-left: 10vw;
    padding: 30px;
  }

  .articleContent {
    font-size: 18px;
  }

  nav h1 {
    font-size: 70px;
  }
}



